package runewidth

{% for table in tables -%}
var wcwidth9_tables_{{ loop.index0 }} = [{{ table|length }}]int{
	{%- for bytes in table|batch(15) %}
	{{ bytes|join(', ') }},
	{%- endfor %}
}

{% endfor %}
