#ifndef WCWIDTH9_H
#define WCWIDTH9_H

{% for table in tables -%}
static const int WCWIDTH9_TABLES_{{ loop.index0 }}[{{ table|length }}] = {
  {%- for bytes in table|batch(15) %}
  {{ bytes|join(', ') }},
  {%- endfor %}
};

{% endfor -%}

static inline int wcwidth9_lookup_width(int c) {
  int t1_offset = WCWIDTH9_TABLES_0[c >> 13 & 0xFF];

  int t2_offset = WCWIDTH9_TABLES_1[128 * t1_offset + (c >> 6 & 0x7F)];

  int packed_widths = WCWIDTH9_TABLES_2[16 * t2_offset + (c >> 2 & 0xF)];

  int width = packed_widths >> (2 * (c & 0b11)) & 0b11;

  if (width == 3) return -1;

  return width;
}

static inline int wcwidth9(int c) {
  if (c < 0x7F) {
    if (c >= 0x20) return 1;
    if (c == 0) return 0;
    return -1;
  }

  if (c >= 0xA0) return wcwidth9_lookup_width(c);

  return -1;
}

#endif /* WCWIDTH9_H */
